/vendor
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore

.env
.env.backup
.env.production
.env.local
*.sql
*.sqlite

/node_modules
/public/build
/public/hot
npm-debug.log
yarn-error.log
.pnpm-debug.log
.eslintcache

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db